*{
    margin: 0;
    padding: 0;
    
}
body{
    background: url(./acc/loginimg.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    
}
.all{
    background: linear-gradient(#101820e1 2%, #3aafa9e6,#2b7a77e7);
    background-size: 100vh;
    float: right;
    color: white;
    width: 35%;
}



b{
    font-size: 23px;

}
label{
    display: block;
    font-weight: bold;
    margin-top: 15px;
    
}
h2{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    text-decoration: underline;
}
input[type="text"],input[type="password"]{
    width: 50%;
    padding: 10px;
    color: black;
    margin: 5px 0;
    border: 1px solid #ccc;
    height:15px;
    border-radius: 1em;
}
.remember{
    display: inline;
    margin: 5px;
    justify-content:center;
    
}



input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 1em;
    cursor: pointer;
    margin:10px;
    font-size: 16px;
    width: 30%;
    

}

input[type="submit"]:focus{
    background-color: #ffffff;
    color: black;

}

input[type="email"], .pass{
    background-image: url(mailimg.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
    
    }
input[type="text"]{
    background-image: url(./acc/login.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
}
.pass{
    background-image: url(lockimg.png);
    
}
input{
    outline: none;
}
input:focus{
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
img{
   
    width: 30%;
    margin: 20px 0px 10px 0px;
    border-radius: 7em;
    

}
.register{ 
    text-decoration: none;
    font-size: 20px;
    color: #101820;
}
form{
    text-align: center;
}
button{
    width: 60%;
    height: 35px;
    border-radius: 1em;
    outline: none;
    border: none;
    font-size: 15px;
    margin:10px 5px 0px 0px ;
}
button:hover{
    cursor: pointer;
}
.forgotpassword{
    text-decoration: none;
    display: block;
    color: black;
    margin-bottom: 13px;
}

.hr1{
    position: relative;top: 15px;
    left: 15%;
}
hr{
    color: white;
    width: 30%;
}
.hr2{
    position: relative;
    top:-10px;
    left: 55%;
}
.divpara{
    padding: 15px;

}
@media screen and (max-width:1000px){
    .logosa{
        width:30%;
    }
    .all{
        margin: 0 auto;
        width: 100%;
        height: 100vh;
    }
    label{
        font-size: 18px;
    }
    a{
        font-size: 18px;
    }
    body{
        background: inherit;
    }
    
    img{
        margin: 0 auto;
    }
}