*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./registback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

    
}
img{
   
    width: 10rem;
    position: relative;left: 50px;
    top: 50px;
    border-radius: 7em;
    

}
.form-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: none;
    color: white;
    border-radius: 5px;
    background: linear-gradient(#101820e1 2%, #3aafa9e6,#2b7a77e7);
    text-align: center;
    height: auto;
    border-radius: 2em;
    box-shadow: 5px  5px 20px rgba(0,0 , 0, 0.1);
}
form {
    text-align: left;
}
b{
    margin:20px 10px 20px 20%;
}
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
h2{
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
    text-decoration: underline;
}
input[type="text"],input[type="email"],input[type="tel"],input[type="password"],textarea {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 1em;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 1em;
    cursor: pointer;
    margin:20px 0px 0px 25%;
    font-size: 16px;
    width: 50%;
    transition: .3s;

}
input{
    width: 50%;
    margin: 0 auto;
}
input[type="submit"]:hover{
    scale: .9;
    background-color: white;
    color: #2b7a77;
}

input[type="email"], .pass{
    background-image: url(mailimg.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
    
    }
.pass{
    background-image: url(lockimg.png);
    
}
input{
    outline: none;
}
input:focus{
    box-shadow: 2px 2px 2px rgb(118, 166, 228);
}
@media screen and (max-width:768px){
    img{
        width: 30%;
        top: 10px;
        left: 1rem;
        margin-bottom: 2rem;
    }
    .form-container{
        background-color: transparent;
        background:transparent; 
        box-shadow: 2px 4px 9px 5px rgba(0, 0, 0, 0.082);
    }
    body{
        background-image: inherit;
    background: linear-gradient(#101820e1 2%, #3aafa9e6,#2b7a77e7);

    }
}